<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<div th:fragment="facebook-comments" class="section fp-auto-height-responsive content-section contact" data-anchor="facebook-comments-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 flex-xl-row-reverse fullheight">

            <!-- Contact Section Info Start-->
            <div class="col-12 col-xl-6 p-0 content-section_info">

                <div class="content-block">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="subtitle">Nosso Mural</span>
                        <span class="title">Comentários</span>
                        <h2>Deixe uma<br>mensagem para os noivos</h2>
                        <span class="divider"></span>
                        <p class="contact-text">Uma boa palavra vale mais do que um presente.</p>
                    </div>
                    <!-- Section Title End -->

                </div>

            </div>
            <!-- Contact Section Info End-->

            <!-- Contact Section Media Start-->
            <div class="col-12 col-xl-6 p-0 fullheight content-section_info">


                <div class="fb_container">
                    <!-- Facebook Comments Start -->
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.3"></script>
                    <div class="fb-comments" data-href="http://localhost:8080/" data-width="100%" data-numposts="5" data-order-by="reverse_time"></div>
                    <!-- Facebook Comments End -->
                </div>



            </div>
            <!-- Contact Section Media End-->

        </div>
    </div>
</div>


</body>
</html>