<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- About Section Start-->
<div th:fragment="gift-list" class="section fp-auto-height-responsive content-section about" data-anchor="gift-list-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 flex-xl-row-reverse fullheight">


            <!-- About Section Info Start -->
            <div class="col-12 col-xl-6 p-0 content-section_info">
                <div class="content-block">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="subtitle">Presentes</span>
                        <span class="title">Lista de presentes</span>
                        <h2>O mais valioso<br>é a sua presença</h2>
                        <span class="divider"></span>

                        <!-- Contact Form Container Start -->
                        <div class="form-content gift">

                            <!-- Reply Group Start -->

                            <div class="feature-item_description">
                                <p>Reservamos este espaço para os amigos que desejam nos presentear... </p>
                            </div>
                            <!-- Reply Group End -->

                            <!-- Contact Form Start -->
                            <form class="gift-form" id="contact-form2" action="https://www.mercadopago.com/mlb/checkout/start" target="_blank">

                                <fieldset class="gift-group">
                                    <input type="radio" name="pref_id" value="5689369-a8ed1329-d5cc-4565-8c2b-b361829c5538" checked> <span>Café da manhã na lua de mel</span><br>
                                    <em>valor de 20 reais</em><br>

                                    <input type="radio" name="pref_id" value="5689369-a8ed1329-d5cc-4565-8c2b-b361829c5538"> <span>Almoço</span><br>
                                    <em>valor de 50 reais</em><br>

                                    <input type="radio" name="pref_id" value="5689369-a8ed1329-d5cc-4565-8c2b-b361829c5538"> <span>Presente 3</span><br>
                                    <em>valor de 100 reais</em><br>

                                    <input type="radio" name="pref_id" value="5689369-a8ed1329-d5cc-4565-8c2b-b361829c5538"> <span>Presente 4</span><br>
                                    <em>valor de 200 reais</em><br>

                                    <input type="radio" name="pref_id" value="5689369-a8ed1329-d5cc-4565-8c2b-b361829c5538"> <span>Presente 5</span><br>
                                    <em>valor de 400 reais</em><br>

                                    <input type="radio" name="pref_id" value="5689369-a8ed1329-d5cc-4565-8c2b-b361829c5538"> <span>Presente 6</span><br>
                                    <em>valor de 700 reais</em><br>

                                </fieldset>
                                <button class="btn btn-line gift">
                                    Clique aqui para presentear
                                </button>


                            </form>
                            <!-- Contact Form End -->

                        </div>
                        <!-- Contact Form Container End -->

                    </div>
                    <!-- Section Title End -->

                </div>
            </div>
            <!-- About Section Info End -->

            <!-- Features Section Info Start -->
            <div class="col-12 col-xl-6 p-0 fullheight content-section_info">

                <!-- Features Block Start -->
                <div class="features fullheight">

                    <div class="row m-0">

                        <!-- Features Single Item Start -->
                        <div class="col-12 col-md-6 feature-item">
                            <div class="feature-item_description">
                                <h3>É uma honra receber o seu carinho em forma de presente</h3>
                            </div>
                        </div>
                        <!-- Features Single Item End -->

                        <!-- Feature Image Start -->
                        <div class="col-12 col-md-6 p-0 feature-image" style="background-image:url(img/photos/gift1.jpg);"></div>
                        <!-- Feature Image End -->

                    </div>

                    <div class="row m-0 flex-md-row-reverse">

                        <!-- Features Single Item Start -->
                        <div class="col-12 col-md-6 feature-item">
                            <div class="feature-item_description">
                                <p>Se você não puder ou  não quiser nos presentear, não  fique  constrangido! Um abraço carinhoso e um sorriso largo serão tão especiais quanto um destes presentes.</p>
                            </div>
                        </div>
                        <!-- Features Single Item End -->

                        <!-- Feature Image Start -->
                        <div class="col-12 col-md-6 p-0 feature-image" style="background-image:url(img//photos/gift2.jpg);"></div>
                        <!-- Feature Image End -->

                    </div>

                </div>
                <!-- Features Block End-->

            </div>
            <!-- Features Section Info End -->

        </div>
    </div>
</div>
<!-- About Section End-->

</body>
</html>