<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!-- Navigation Start-->
<nav th:fragment="navigation">

    <!-- Menu Close Button Start -->
    <a href="#" id="menu-close" class="menu-close">
        <i class="icon ion-ios-close-empty"></i>
    </a>
    <!-- Menu Close Button End -->

    <!-- Main Menu Start-->
    <ul class="menu" id="menu">
        <li data-menuanchor="countdown-page">
            <a href="#countdown-page">Contagem Regressiva
                <span>Conte os dias conosco</span>
            </a>
        </li>
        <li data-menuanchor="aboutPage">
            <a href="#aboutPage">About Us
                <span>Our brand sucsess story</span>
            </a>
        </li>
        <li data-menuanchor="featuresPage">
            <a href="#featuresPage">Features
                <span>We love what we do</span>
            </a>
        </li>
        <li data-menuanchor="portfolioPage">
            <a href="#portfolioPage">Portfolio
                <span>Resent projects</span>
            </a>
        </li>
        <li data-menuanchor="contactPage">
            <a href="#contactPage">Contact
                <span>Welcome to our office</span>
            </a>
        </li>
    </ul>
    <!-- Main Menu End-->

</nav>
<!-- Navigation End-->

</body>
</html>